{"name":"FreeRTOS",
 "files":["ParTest/ParTest_Generic_Target_Board.c",
"LowLevelInit/LowLevelInit.c",
"main.c",
"serial/serial.c",
"../list.c",
"../portable/MemMang/heap_2.c",
"../portable/IAR/V850ES/port.c",
"../queue.c",
"../timers.c",
"../croutine.c",
"../event_groups.c",
"../tasks.c"],
 "compilation_cmd":"gcc -I../include -I../portable/IAR/V850ES -I.",
 "main":"main",
 "machdep":"gcc_x86_64" }
